section.importance
  .container.importance__container
    h2.importance__title The importance of negotiations in the corporate offering
    p.importance__subtitle Negotiations have become an integral part of corporate reality. A large part of intra-organizational or extra-organizational processes depend on various negotiation processes.
    ul.importance__list
      li.importance__item Negotiations between a company and its customers or suppliers
      li.importance__item Negotiations between a company and its customers or suppliers
      li.importance__item Negotiations between a manager and his employees and between members of a team
    p.importance__description All of these shape the organizational and business reality and directly affect the organization's performance. Therefore, in today's reality, in order to move the organization forward, it is very important to develop negotiation capabilities among all those in the organization.
    p.importance__description There are two fundamental approaches to negotiations: competitive negotiations and integral negotiations.
