section.teach
  .container.teach__container
    h2.teach__title
      | We teach the
      span.teach__title_highlighted  Harvard method
      |  of negotiation -
      | the most popular method in today's business world.
    p.teach__description A method that enables all parties to realize their interests, increase profits and collaborate, and reach established goals. We invite you to the StraTG negotiation workshop, which combines the innovative approaches to negotiation with the necessary skills of interpersonal communication. The workshop will significantly improve the relations within and between the teams and departments of the organization, improve the organization's performance with suppliers and customers, and enable the organization to function at its best!
