.teach {
  padding-top: 40px;
  padding-bottom: 46px;
  color: $white;
  background: url('./../images/teach.png') top center  no-repeat;

  @media(max-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0 auto;
    width: 100%;
    max-width: 673px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    padding-top: 44px;
    padding-bottom: 45px;
    text-align: center;

    @media(max-width: 992px)  {
      padding-bottom: 25px;
      font-size: 24px;
      line-height: 32px;
    }

    @media(max-width: 576px) {
      line-height: 26px;
    }

    &_highlighted {
      color: #d8282a;
      font-size: 36px;
    }
  }

  &__description {
    display: flex;
    width: 100%;
    max-width: 677px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding-bottom: 30px;

    @media(max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media(max-width: 576px) {
      line-height: 19px;
    }
  }
}
