section.problems
  .container.problems__container
    .problems__image
      img.problems__picture(src='./images/problems.png' alt='')
    .problems__content
      h2.problems__title A lot of problems - one reason
      p.problems__subtitle Can not the company close deals or sell products?  Can not download costs from vendors? Employees and managers from different departments do not get along with each other?

      p.problems__description These phenomena are known to all organizations without exception, and on their faces seem unrelated. But when we examine all these cases in depth, it turns out that in each and every one of them, the source of the problem was the same - the inability to negotiate on one side or both sides together.
