form.motivation-form
  .motivation-form__title Get started
  p.motivation-form__description The test below will allow us to determine to which "pole" for each dichotomy
  input.motivation-form__field(name='name' placeholder='Your Name' autocomplete='off' minlength='4' required)
  input.motivation-form__field(name='phone' type='tel' placeholder='Your Phone' autocomplete='off' minlength='4' required)
  input.motivation-form__field(name='company' placeholder='Company' autocomplete='off' minlength='4' required)
  button.button.motivation-form__submit Send details
