section.contact-us
.container.contact-us__container
  h2.contact-us__title Contact us right now
  p.contact-us__subtitle StraTG specializes in organizational consulting, professional workshops, training, business strategy, marketing and communications.
  .contact-us__form
    include ../contact-form/contact-form
