include ../form/form-group


script(type='text/html', data-modal='callback')
  #modal-callback.modal
    .modal__content
      h2.modal__title Укажите ваш актуальный телефон
      p.modal__decription и мы свяжемся с вами #[br] в течении 15 минут
      form
        +form-group({
          id: 'name',
          name: 'name',
          className: 'callback__form-group',
          placeholder: 'Введите ваше имя',
          icon: 'user'
        })
        +form-group({
          id: 'phone',
          name: 'phone',
          type: 'tel',
          className: 'callback__form-group',
          placeholder: 'Введите ваш телефон',
          icon: 'phone'
        })
        button.button.button_red.button_block Оставить заявку
          +icon({ icon: 'mobile', className: 'button__icon' })
