ul.main-footer-menu
  li.main-footer-menu__item
    h4.main-footer-menu__title Business
    ul.main-footer-menu__list
      li.main-footer-menu__list-item Small Business Banking
      li.main-footer-menu__list-item Solutions by Business Need
      li.main-footer-menu__list-item Solutions by Industry
      li.main-footer-menu__list-item Products & Services
      li.main-footer-menu__list-item Online Banking Solutions
      li.main-footer-menu__list-item Small Business Resources
      li.main-footer-menu__list-item Business Banking
      li.main-footer-menu__list-item Product Solutions
  li.main-footer-menu__item
    h4.main-footer-menu__title Business
    ul.main-footer-menu__list
      li.main-footer-menu__list-item Small Business Banking
      li.main-footer-menu__list-item Solutions by Business Need
      li.main-footer-menu__list-item Solutions by Industry
      li.main-footer-menu__list-item Products & Services
      li.main-footer-menu__list-item Online Banking Solutions
      li.main-footer-menu__list-item Small Business Resources
      li.main-footer-menu__list-item Business Banking
      li.main-footer-menu__list-item Product Solutions
  li.main-footer-menu__item
    h4.main-footer-menu__title Business
    ul.main-footer-menu__list
      li.main-footer-menu__list-item Small Business Banking
      li.main-footer-menu__list-item Solutions by Business Need
      li.main-footer-menu__list-item Solutions by Industry
      li.main-footer-menu__list-item Products & Services
      li.main-footer-menu__list-item Online Banking Solutions
      li.main-footer-menu__list-item Small Business Resources
      li.main-footer-menu__list-item Business Banking
      li.main-footer-menu__list-item Product Solutions
  li.main-footer-menu__item
    h4.main-footer-menu__title Business
    ul.main-footer-menu__list
      li.main-footer-menu__list-item Small Business Banking
      li.main-footer-menu__list-item Solutions by Business Need
      li.main-footer-menu__list-item Solutions by Industry
      li.main-footer-menu__list-item Products & Services
      li.main-footer-menu__list-item Online Banking Solutions
      li.main-footer-menu__list-item Small Business Resources
      li.main-footer-menu__list-item Business Banking
      li.main-footer-menu__list-item Product Solutions
  li.main-footer-menu__item
    h4.main-footer-menu__title Business
    ul.main-footer-menu__list
      li.main-footer-menu__list-item Small Business Banking
      li.main-footer-menu__list-item Solutions by Business Need
      li.main-footer-menu__list-item Solutions by Industry
      li.main-footer-menu__list-item Products & Services
      li.main-footer-menu__list-item Online Banking Solutions
      li.main-footer-menu__list-item Small Business Resources
      li.main-footer-menu__list-item Business Banking
      li.main-footer-menu__list-item Product Solutions
