form.contact-form
  input.contact-form__field(name='name' placeholder='Your Name' autocomplete='off' required)
  input.contact-form__field(name='phone' placeholder='Your Phone' autocomplete='off' required)
  input.contact-form__field(name='company' placeholder='Company' autocomplete='off' required)
  button.button.contact-form__submit Send details
