form.contact-form
  .contact-form__title Get started
  p.contact-form__description The test below will allow us to determine to which "pole" for each dichotomy
  input.contact-form__field(name='name' placeholder='Your Name' autocomplete='off' required)
  input.contact-form__field(name='phone' placeholder='Your Phone' autocomplete='off' required)
  input.contact-form__field(name='company' placeholder='Company' autocomplete='off' required)
  button.button.contact-form__submit Send details
