include ../form/form-group


script(type='text/html', data-modal='thanks')
  #thanks.modal
    .modal__content.modal__content_tertiary
      h2.modal__title Спасибо
      p.modal__decription Ваша заявка отправлена
      img.modal__image(src='./images/icon_thanks.png' alt='')
      .modal__text Долго ждать? #[br] Наберите нас прямо сейчас: #[br] + 0 (000) 000 00 000
