.negotiation {

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(min-width: 1920px) {
      width: 1920px;
    }

    @media(min-width: 1366px) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__info {
    display: inline-flex;
    width: 50%;
    min-height: 690px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width: 1600px) {
      min-height: 490px;
    }

    @media(max-width: 1366px) {
      width: 100%;
    }

    @media(min-width: 768px) {
      background: none !important;
    }

    @media(max-width: 768px) {
      flex-direction: column;
      flex-wrap: wrap;
      min-height: 100%;
      margin-bottom: 15px;
    }

    &:nth-child(2n) {
      @media(max-width: 1366px) {
        flex-direction: row-reverse;
      }
      @media(max-width: 768px) {
        flex-direction: row;
      }
    }
  }

  &__image,
  &__content {
    max-width: 475px;

    @media(max-width: 1366px) {
      max-width: 50%;
    }
  }

  &__image {
    display: flex;
    width: 50%;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:768px) {
      display: none;
    }
  }

  &__content {
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media(max-width: 1600px) {
      padding: 20px;
    }
    @media(max-width: 768px) {
      max-width: 100%;
      background: rgba(#fff, 0.8);
    }
  }

  &__title {
    display: flex;
    color: #0a2e6c;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.65px;
    padding-top: 6px;
    padding-bottom: 20px;
  }

  &__description {
    display: flex;
    color: #000000;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
  }
}
