section.negotiation
  .negotiation__container
    .negotiation__info
      .negotiation__image.negotiation__image_conflict
      .negotiation__content
        h3.negotiation__title Competitive negotiation
        p.negotiation__description Competitive negotiation is an approach that holds that in every negotiation process both sides compete for a particular resource and if one side wins, then the other side inevitably loses. If one side gets more, then the other gets less. This approach would have access to controls until the 80s. Since the 1980s, a fundamentally different approach has evolved that argues that one does not have to win or lose in negotiations. It is possible to create a reality in which everyone wins.
    .negotiation__info
      .negotiation__image.negotiation__image_cooperation
      .negotiation__content
        h3.negotiation__title Integral negotiation
        p.negotiation__description Competitive negotiation is an approach that holds that in every negotiation process both sides compete for a particular resource and if one side wins, then the other side inevitably loses. If one side gets more, then the other gets less. This approach would have access to controls until the 80s. Since the 1980s, a fundamentally different approach has evolved that argues that one does not have to win or lose in negotiations. It is possible to create a reality in which everyone wins.
