.social-media {
  display: flex;
  margin: 20px 0 0 4px;

  &__item {
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.social-media__item + .social-media__item {
  padding-left: 16px;
}
