.social-media
  a(href='#').social-media__item
    img(src='./images/facebook.png')
  a(href='#').social-media__item
    img(src='./images/twitter.png')
  a(href='#').social-media__item
    img(src='./images/linkedin.png')
