$main_font: "Proxima Nova";
$rg_font: Proxima Nova Rg;
$lt_font: Proxima Nova Lt;

$white: #ffffff;

$black: #000000;
$black2: #2d3b3e;
$black3: #0a1938;

$blue: #012969;
$blue2: #0a2e6c;

$bluegray: #8fa3aa;
$bluegray2: #adbcc1;

$red: #e4292b;
$red2: #e6282b;
$red3: #eb2a2c;

$lightgray: #d7d7d7;
$lightgray2: #dbdcde;
$verylightgray: #f7f8f9;
$verylightgray2: #f3f5fa;
$darkgray: #a0a6b0;

$delay: 0.3s;
