.main-footer
  .container.main-footer__container
    .main-footer__contacts
      .main-footer__logo_bottom
        a.main-footer__logo-link(href='/')
          img.main-footer__logo-icon(src='./images/logo_bottom.png' alt='')
      .main-footer__logo_mobi
        a.main-footer__logo-link(href='/')
          img.main-footer__logo-icon(src='./images/logo_mobi.png' alt='')
      .main-footer__contacts-title Contact
      ul.main-footer__contacts-list
        li.main-footer__contacts-item +972 54-451-6313
        li.main-footer__contacts-item mt@stratg.co.il
      .main-footer__social-media
        include ../social-media/social-media
    .main-footer__menu
      include ../main-footer-menu/main-footer-menu
  .main-footer__copyright Copyright © 2018  StraTG
