.main-footer {
  padding-top: 56px;

  @media(max-width: 1200px) {
    padding-top: 16px;
  }

  &__container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1450px) {
      flex-direction: column-reverse;
      max-width: 1170px;
    }
  }

  &__logo {

    &_bottom {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;

      @media(max-width: 610px) {
        display: none;
      }
    }

    &_mobi {
      display: none;

      @media(max-width: 610px) {
        display: flex;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding-left: 24px;
    padding-bottom: 50px;

    @media(max-width: 1450px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media(max-width: 500px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-list {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      flex-wrap: wrap;

      @media(max-width: 1450px) {
        flex-direction: column;
        padding: 20px;
      }

      @media(max-width: 375px) {
        padding-right: 0;
        padding-left: 10px;
      }
    }

    &-title {
      color: #2d3b3e;
      font-size: 23px;
      font-weight: 700;
      line-height: 29.02px;
      padding-top: 58px;
      padding-bottom: 31px;

      &:after {
        display: block;
        content: '';
        margin-top: 31px;
        background-color: gray;
        width: 64px;
        height: 1px;
        opacity: 0.2;
      }

      @media(max-width: 1450px) {
        display: none;
      }
    }

    &-icon {
      display: flex;
      align-self: center;
      padding-right: 10px;
    }

    &-item {
      display: flex;
      color: #000;
      font-size: 15px;
      font-weight: 700;
      line-height: 29.02px;
      padding-bottom: 44px;
      padding-right: 35px;

      @media(max-width: 1450px) {
        padding-bottom: 0;
      }
    }

  }


  &__menu {
    display: flex;
    width: 1200px;
    padding-bottom: 40px;

    @media(max-width: 1200px) {
      width: auto;
      padding-bottom: 0;
    }
  }

  &__social-media {
    @media(max-width: 440px) {
      margin-top: 20px;
    }
  }

  &__copyright {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(#dbdcde, 0.75);
    color: #8fa3aa;
    font-size: 14px;
    font-weight: 400;
    line-height: 29.06px;
  }
}
