include ../form/form-group


script(type='text/html', data-modal='present')
  #modal-present.modal.modal_image
    .modal__content.modal__content_hide
      img.modal__picture.present__modal-picture(src='./images/mockup_present.png' alt='')
    .modal__content.modal__content_secondary
      h2.modal__title.present__title Оставьте заявку
      p.modal__decription.present__decription чтобы получить презентацию
      form
        +form-group({
          id: 'name',
          name: 'name',
          className: 'present__form-group',
          placeholder: 'Введите ваше имя',
          icon: 'user'
        })
        +form-group({
          id: 'phone',
          name: 'phone',
          type: 'tel',
          className: 'present__form-group',
          placeholder: 'Введите ваш телефон',
          icon: 'phone'
        })
        +form-group({
          id: 'email',
          name: 'email',
          className: 'present__form-group',
          placeholder: 'Введите ваш email',
          icon: 'email'
        })
        button.button.button_red.button_block.callback__submit Получить презентацию
          +icon({ icon: 'mobile', className: 'button__icon' })
