section.motivation
  .container.motivation__container
    .motivation__form
      .motivation__form-title Get started
      p.motivation__form-description The test below will allow us to determine to which "pole" for each dichotomy
      include ../contact-form/contact-form
    .motivation__content
      h1.motivation__slogan
        span.motivation__slogan-begin The Harvard
        span.motivation__slogan-end method of negotiation
      p.motivation__description The innovative approaches to negotiation with the necessary skills of interpersonal communication.
