.nav {
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: $white;
  }

  &__item {
    position: relative;
    margin: 0 5px;
    padding: 5px 10px;

    @media (max-width: 1200px) {
      padding: 10px 0;
    }
  }

  &__link {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: white;
      opacity: 0;
      transition: $delay;
    }

    &:active:after,
    &:hover:after {
      opacity: 1;
    }
  }

  @media (max-width: 992px){
    padding: 20px;
    opacity: .9;
    transition: $delay*2;
    font-size: 18px;

    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

  }
}
