header.main-header
  .container.main-header__container
    .main-header__logo
      a.main-header__logo-link(href='/')
        img.main-header__logo-icon(src='./images/logo_top.png' alt='')
    .main-header__logo_mobi
      a.main-header__logo-link(href='/')
        img.main-header__logo-icon(src='./images/logo_mobi.png' alt='')
    .main-header__nav
      include ../nav/nav
    .main-header__contacts
      a.button.main-header__contacts-button(href='tel:+972 54-451-6313')
        img.main-header__contacts-icon(src='./images/phone_white.png' alt='')
        span +972 54-451-6313
    .main-header__menu-toggle
      include ../menu-toggle/menu-toggle
