header.main-header
  .container.main-header__container
    .main-header__logo
      a.main-header__logo-link(href='/')
        img.main-header__logo-icon(src='./images/logo.png' alt='')
    .main-header__nav
      include ../nav/nav
    .main-header__contact-group
      a.button.main-header__contact-button(href='tel:+972 54-451-6313')
        i.fa.fa-phone(aria-hidden='true').button__icon
        span +972 54-451-6313
